<button class="add-news-button" (click)="onGoToAddNewsPage()">Ajouter</button>
<div class="news-container"*ngIf="newsList">
    <div *ngFor="let news of newsList" class="news-card">
        <a class="news-title">{{ news.title | uppercase}}</a>
        <h3 class="news-date" >Ajouté le: {{ news.createdDate }}</h3>
        <p class="news-content">{{ news.content }}</p>
        <button class="news-more-info-button" (click)="onGoToSingleNewsPage(news.newsId)">En savoir plus</button>
    </div>
</div>

<app-pagination
[currentPageNumber]="currentPageNumber"
[totalNumberOfPages]="totalNumberOfPages$ |async"
(selectedPage)="onGetCurrentPageNews($event)"></app-pagination>


