<section class="boxing-section">
    <div class="text-container">
        <h2>LA BOXE</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. 
            Aliquet massa eget vulputate ut.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. 
            Aliquet massa eget vulputate ut.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. 
            Aliquet massa eget vulputate ut.
        </p>
    </div>

    <div class="picture-container">
        <img src="assets/images/pictures/boxing-man-kick.png" alt="boxing man kick">
    </div>
</section>


<section class="planning-section">

    <div class="pictures-container">
        <img class="planning-section-picture" src="assets/images/pictures/boxing-man-punch.png" alt="boxing man punch">
        <img class="planning-section-picture" src="assets/images/pictures/boxing-man-stand.png" alt="boxing man stand">
    </div>

    <div class="text-container">
        <h2>LE PLANNING</h2>
        <p> Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.
            Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.
        </p>

        <p>Lundi 18h à 19h30 ( Enfants )</p>
        <p>Lundi 19h30h à 21h00 ( Adultes )</p>
        <p>Jeudi 18h00 à 19h30 ( Enfants )</p>
        Jeudi 19h30 à 21h00 ( Adultes )
        <button>En savoir plus</button>
    </div>
</section>


<section class="subscribe-section">

    <div class="picture-container">
        <img src="assets/images/pictures/boxing-men-punch.png" alt="boxing men boxing">
    </div>

    <div class="text-container">
        <h2>L'INSCRIPTION</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. 
            Aliquet massa eget vulputate ut.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. 
            Aliquet massa eget vulputate ut.
        </p>

        <button>Télécharger</button>
    </div>
</section>