<section class="dojo-section">
    <div class="text-container">
        <h2>LE DOJO</h2>
        <p> Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
    </div>

    <div class="picture-container">
        <img src="assets/images/pictures/karate-draw.png" alt="karate-draw">
    </div>
</section>

<section class="karate-section">

    <div class="picture-container">
        <img src="assets/images/pictures/karate-man.png" alt="karate man">
    </div>

    <div class="text-container">
        <h2>LE KARATE</h2>
        <p> Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
        <button (click)="onGoToKaratePage()">En savoir plus</button>
    </div>
</section>

<section class="boxing-section">
    <div class="text-container">
        <h2>LA BOXE</h2>
        <p> Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
        <button (click)="onGoToBoxingPage()">En savoir plus</button>
    </div>

    <div class="picture-container">
        <img src="assets/images/pictures/boxing-man.png" alt="boxing man">
    </div>
</section>