<section class="dojo-section">
    <div class="text-container">
        <h2>LE DOJO</h2>
        <p> Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.</p>
    </div>

    <div class="picture-container">
        <img src="assets/images/pictures/karate-woman.png" alt="karate-woman">
    </div>
</section>


<section class="planning-section">

    <div class="pictures-container">
        <img class="planning-section-picture" src="assets/images/pictures/group-children-karate.png" alt="Children karate">
        <img class="planning-section-picture" src="assets/images/pictures/karate-bow.png" alt="Karate rei">
        <img class="planning-section-picture" src="assets/images/pictures/women-fight-karate.png" alt="Karate fight">
        <img class="planning-section-picture" src="assets/images/pictures/karate-man-seiza.png" alt="Karate seiza">
    </div>

    <div class="text-container">
        <h2>LE PLANNING</h2>
        <p> Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.
            Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. Aliquet massa eget vulputate ut.
        </p>

        <p>Lundi 18h à 19h30 ( Enfants )</p>
        <p>Lundi 19h30h à 21h00 ( Adultes )</p>
        <p>Jeudi 18h00 à 19h30 ( Enfants )</p>
        Jeudi 19h30 à 21h00 ( Adultes )
        <button>En savoir plus</button>
    </div>
</section>


<section class="karate-section">

    <div class="picture-container">
        <img src="assets/images/pictures/karate-man-stand.png" alt="karate man stands">
    </div>

    <div class="text-container">
        <h2>INSCRIPTION</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. 
            Aliquet massa eget vulputate ut.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur. Vivamus risus posuere convallis gravida sit. 
            Aliquet massa eget vulputate ut.
        </p>
        <button>Télécharger</button>
    </div>
</section>